Daily LinkedIn Post via Local Gemma & SD.json
{
  "name": "Daily LinkedIn Post via Local Gemma & SD",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        432,
        -224
      ],
      "id": "schedule-trigger-id",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Create linkedin post regarding wordpress recent topics",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a helpful assistant and have 30 years of content writing experience,\n\nmax length is\n3000 characters\n\nonly provide final output text do not needed any extra word, just give post content so as it is i can copy."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        640,
        -224
      ],
      "id": "ai-agent-id",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "person": "YOUR_LINKEDIN_MEMBER_ID_HERE",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        944,
        -224
      ],
      "id": "linkedin-node-id",
      "name": "LinkedIn",
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "placeholder-linkedin-credential",
          "name": "LinkedIn account"
        }
      }
    },
    {
      "parameters": {
        "model": "gemma4:e4b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        640,
        -48
      ],
      "id": "ollama-model-id",
      "name": "Ollama Chat Model1",
      "credentials": {
        "ollamaApi": {
          "id": "placeholder-ollama-credential",
          "name": "Ollama account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Ollama Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "LinkedIn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  }
}